.whiteboard-wrapper {
    background-color: #f1f1f1;
    width: 800px;
    height: 800px;
}

tr {
    width: 10px;
    height: 10px;
}

.grid {
    border: 1px solid rgb(196, 222, 230);
}

.cell {
    width: 10px;
    height: 10px;
}
