.whiteboard-wrapper {
    background-color: #f1f1f1;
    width: 800px;
    height: 800px;
}

tr {
    width: 10px;
    height: 10px;
}

td {
    border: 1px solid rgba(149, 198, 255, 0.329);
    width: 10px;
    height: 10px;
}
